.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1267px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 71px 530px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 70px 939px 0 45px;
}

.u-section-1 .u-group-1 {
  width: 1050px;
  min-height: 84px;
  background-image: linear-gradient(#d0b98c, #faf4ea);
  margin: 7px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 35px 0 50px;
}

.u-section-1 .u-image-1 {
  width: 64px;
  height: 64px;
  margin: 12px auto 0 -32px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: -48px 837px 0 52px;
}

.u-section-1 .u-icon-1 {
  height: 44px;
  width: 44px;
  margin: -38px auto 0 164px;
}

.u-section-1 .u-icon-2 {
  height: 44px;
  width: 44px;
  margin: -44px auto 0 236px;
}

.u-section-1 .u-icon-3 {
  height: 44px;
  width: 44px;
  margin: -44px auto 0 311px;
}

.u-section-1 .u-icon-4 {
  height: 44px;
  width: 44px;
  margin: -44px auto 0 384px;
}

.u-section-1 .u-icon-5 {
  height: 44px;
  width: 44px;
  margin: -43px 463px 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#4c7397, #478ac9);
  font-weight: 700;
  margin: -45px 144px 0 auto;
  padding: 9px 43px 11px 41px;
}

.u-section-1 .u-icon-6 {
  height: 44px;
  width: 44px;
  margin: -43px 390px 0 auto;
}

.u-section-1 .u-icon-7 {
  height: 44px;
  width: 44px;
  margin: -44px 316px 0 auto;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#e60808, #f16f6f);
  margin: -44px -13px 0 auto;
}

.u-section-1 .u-group-2 {
  width: 1050px;
  min-height: 84px;
  background-image: linear-gradient(#d0b98c, #faf4ea);
  margin: 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 35px 0 50px;
}

.u-section-1 .u-image-2 {
  width: 64px;
  height: 64px;
  margin: 11px auto 0 -32px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: -48px 837px 0 52px;
}

.u-section-1 .u-icon-8 {
  height: 44px;
  width: 44px;
  margin: -38px auto 0 164px;
}

.u-section-1 .u-icon-9 {
  height: 44px;
  width: 44px;
  margin: -45px auto 0 237px;
}

.u-section-1 .u-icon-10 {
  height: 44px;
  width: 44px;
  margin: -44px auto 0 311px;
}

.u-section-1 .u-icon-11 {
  height: 44px;
  width: 44px;
  margin: -44px auto 0 384px;
}

.u-section-1 .u-icon-12 {
  height: 44px;
  width: 44px;
  margin: -43px 463px 0 auto;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#4c7397, #478ac9);
  font-weight: 700;
  margin: -44px 144px 0 auto;
  padding: 9px 43px 11px 41px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#e60808, #f16f6f);
  margin: -42px -13px 0 auto;
}

.u-section-1 .u-group-3 {
  width: 1050px;
  min-height: 84px;
  background-image: linear-gradient(#d0b98c, #faf4ea);
  margin: 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 35px 0 50px;
}

.u-section-1 .u-image-3 {
  width: 64px;
  height: 64px;
  margin: 11px auto 0 -32px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: -48px 837px 0 52px;
}

.u-section-1 .u-icon-13 {
  height: 44px;
  width: 44px;
  margin: -38px auto 0 164px;
}

.u-section-1 .u-icon-14 {
  height: 44px;
  width: 44px;
  margin: -45px auto 0 237px;
}

.u-section-1 .u-icon-15 {
  height: 44px;
  width: 44px;
  margin: -44px auto 0 311px;
}

.u-section-1 .u-icon-16 {
  height: 44px;
  width: 44px;
  margin: -44px auto 0 384px;
}

.u-section-1 .u-icon-17 {
  height: 44px;
  width: 44px;
  margin: -43px 463px 0 auto;
}

.u-section-1 .u-icon-18 {
  height: 44px;
  width: 44px;
  margin: -45px 390px 0 auto;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#4c7397, #478ac9);
  font-weight: 700;
  margin: -43px 144px 0 auto;
  padding: 9px 43px 11px 41px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#e60808, #f16f6f);
  margin: -41px -13px 0 auto;
}

.u-section-1 .u-group-4 {
  width: 1050px;
  min-height: 84px;
  background-image: linear-gradient(#d0b98c, #faf4ea);
  height: auto;
  margin: -2px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 35px 0 50px;
}

.u-section-1 .u-image-4 {
  width: 64px;
  height: 64px;
  margin: 11px auto 0 -32px;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: -48px 837px 0 52px;
}

.u-section-1 .u-icon-19 {
  height: 44px;
  width: 44px;
  margin: -38px auto 0 164px;
}

.u-section-1 .u-icon-20 {
  height: 44px;
  width: 44px;
  margin: -45px auto 0 237px;
}

.u-section-1 .u-icon-21 {
  height: 44px;
  width: 44px;
  margin: -44px auto 0 311px;
}

.u-section-1 .u-btn-7 {
  font-size: 1.875rem;
  font-weight: normal;
  text-transform: none;
  border-style: none;
  margin: -58px 0 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#4c7397, #478ac9);
  font-weight: 700;
  margin: -33px 144px 0 auto;
  padding: 9px 43px 11px 41px;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#e60808, #f16f6f);
  margin: -42px -13px 0 auto;
}

.u-section-1 .u-text-7 {
  margin: 84px 722px 0 45px;
}

.u-section-1 .u-text-8 {
  margin: -36px 150px 0 716px;
}

.u-section-1 .u-group-5 {
  width: 525px;
  min-height: 84px;
  background-image: linear-gradient(#d0b98c, #faf4ea);
  margin: 11px auto 0 45px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 35px 0 50px;
}

.u-section-1 .u-image-5 {
  width: 64px;
  height: 64px;
  margin: 11px auto 0 -32px;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: -48px 292px 0 52px;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#28802e, #6baf62);
  margin: -37px 140px 0 auto;
}

.u-section-1 .u-btn-11 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#e60808, #f16f6f);
  margin: -43px -14px 0 auto;
}

.u-section-1 .u-group-6 {
  width: 525px;
  min-height: 84px;
  background-image: linear-gradient(#d0b98c, #faf4ea);
  height: auto;
  margin: 6px auto 0 45px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 35px 0 50px;
}

.u-section-1 .u-image-6 {
  width: 64px;
  height: 64px;
  margin: 11px auto 0 -32px;
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: -48px 292px 0 52px;
}

.u-section-1 .u-btn-12 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#28802e, #6baf62);
  margin: -37px 140px 0 auto;
}

.u-section-1 .u-btn-13 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#e60808, #f16f6f);
  margin: -43px -14px 0 auto;
}

.u-section-1 .u-group-7 {
  width: 379px;
  min-height: 84px;
  background-image: linear-gradient(#d0b98c, #faf4ea);
  margin: -174px auto 0 716px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-image-7 {
  width: 64px;
  height: 64px;
  margin: 11px auto 0 18px;
}

.u-section-1 .u-text-11 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: -48px 181px 0 102px;
}

.u-section-1 .u-btn-14 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#e60808, #f16f6f);
  margin: -38px 22px 0 auto;
}

.u-section-1 .u-group-8 {
  min-height: 84px;
  background-image: linear-gradient(#d0b98c, #faf4ea);
  width: 379px;
  height: auto;
  margin: 12px auto 0 716px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 35px 0 50px;
}

.u-section-1 .u-image-8 {
  width: 64px;
  height: 64px;
  margin: 11px auto 0 -32px;
}

.u-section-1 .u-text-12 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: -48px 146px 0 52px;
}

.u-section-1 .u-btn-15 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#e60808, #f16f6f);
  margin: -38px -13px 0 auto;
}

.u-section-1 .u-text-13 {
  margin: 103px 280px 0 682px;
}

.u-section-1 .u-text-14 {
  margin: -36px 877px 0 45px;
}

.u-section-1 .u-form-1 {
  height: 126px;
  margin: 11px 664px 0 45px;
}

.u-section-1 .u-btn-16 {
  letter-spacing: 1px;
  background-image: linear-gradient(#858e99, white);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-1 .u-form-2 {
  height: 126px;
  margin: -126px 17px 0 690px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-btn-17 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(#858e99, white);
}

.u-section-1 .u-btn-18 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#292d33, #858e99);
  margin: -58px auto 0 197px;
  padding: 12px 40px 13px 39px;
}

.u-section-1 .u-btn-19 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#292d33, #858e99);
  margin: -47px 161px 60px auto;
  padding: 12px 38px 13px 36px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 1591px;
    margin-right: 330px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -1380px;
    margin-right: auto;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    margin-left: 45px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 27px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 779px;
    margin-left: 103px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 246px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 320px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 394px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 467px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 541px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 34px;
    margin-left: 532px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    width: 940px;
    margin-left: 45px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 27px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 779px;
    margin-left: 103px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 246px;
  }

  .u-section-1 .u-icon-9 {
    margin-top: -44px;
    margin-left: 320px;
  }

  .u-section-1 .u-icon-10 {
    margin-left: 394px;
  }

  .u-section-1 .u-icon-11 {
    margin-left: 467px;
  }

  .u-section-1 .u-icon-12 {
    margin-left: 541px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 34px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1 .u-group-3 {
    width: 940px;
    margin-left: 45px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 27px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 779px;
    margin-left: 103px;
  }

  .u-section-1 .u-icon-13 {
    margin-left: 246px;
  }

  .u-section-1 .u-icon-14 {
    margin-top: -44px;
    margin-left: 320px;
  }

  .u-section-1 .u-icon-15 {
    margin-left: 394px;
  }

  .u-section-1 .u-icon-16 {
    margin-left: 467px;
  }

  .u-section-1 .u-icon-17 {
    margin-left: 541px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 18px;
    margin-right: 34px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1 .u-group-4 {
    width: 940px;
    margin-top: 1001px;
    margin-left: 45px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 27px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 779px;
    margin-left: 103px;
  }

  .u-section-1 .u-icon-19 {
    margin-left: 246px;
  }

  .u-section-1 .u-icon-20 {
    margin-top: -44px;
    margin-left: 320px;
  }

  .u-section-1 .u-icon-21 {
    margin-left: 394px;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 34px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: -484px;
    margin-right: 567px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 11px;
    margin-right: 123px;
    margin-left: auto;
  }

  .u-section-1 .u-group-5 {
    min-height: 130px;
    margin-top: -86px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 27px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 103px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: -35px;
    margin-right: 104px;
  }

  .u-section-1 .u-btn-11 {
    margin-top: -46px;
    margin-right: -24px;
  }

  .u-section-1 .u-group-6 {
    margin-top: -39px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 27px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 103px;
  }

  .u-section-1 .u-btn-12 {
    margin-top: -35px;
    margin-right: 104px;
  }

  .u-section-1 .u-btn-13 {
    margin-top: -46px;
    margin-right: -24px;
  }

  .u-section-1 .u-group-7 {
    margin-top: -39px;
    margin-left: 45px;
    margin-right: 45px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 27px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 103px;
  }

  .u-section-1 .u-btn-14 {
    margin-top: -39px;
    margin-right: -24px;
  }

  .u-section-1 .u-group-8 {
    margin-top: 196px;
    margin-left: 45px;
    margin-right: 45px;
  }

  .u-section-1 .u-image-8 {
    margin-left: 27px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 103px;
  }

  .u-section-1 .u-btn-15 {
    margin-top: -39px;
    margin-right: -24px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -913px;
    margin-right: 180px;
    margin-left: 582px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 644px;
    margin-right: 722px;
    margin-left: 37px;
  }

  .u-section-1 .u-form-1 {
    width: 570px;
    margin-top: -740px;
    margin-right: 509px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-16 {
    width: 100%;
  }

  .u-section-1 .u-form-2 {
    margin-right: 0;
    margin-left: 507px;
  }

  .u-section-1 .u-btn-17 {
    width: 100%;
  }

  .u-section-1 .u-btn-18 {
    margin-top: 2px;
    margin-left: 0;
    padding-right: 30px;
    padding-left: 29px;
  }

  .u-section-1 .u-btn-19 {
    margin-top: 13px;
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 1589px;
    margin-right: 110px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -1378px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 584px;
    margin-left: 75px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
    margin-left: 352px;
  }

  .u-section-1 .u-group-2 {
    width: 720px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 584px;
    margin-left: 75px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-group-3 {
    width: 720px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 584px;
    margin-left: 75px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-1 .u-group-4 {
    width: 720px;
    margin-top: 905px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 584px;
    margin-left: 75px;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: -389px;
    margin-right: 347px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 94px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 75px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 75px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 75px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 75px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -817px;
    margin-right: 70px;
    margin-left: 472px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 548px;
    margin-right: 502px;
    margin-left: 28px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -645px;
    margin-right: 289px;
  }

  .u-section-1 .u-form-2 {
    margin-left: 287px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 1493px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -1269px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 444px;
    margin-left: 53px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 449px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 449px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 212px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 444px;
    margin-left: 53px;
  }

  .u-section-1 .u-icon-11 {
    margin-left: 449px;
  }

  .u-section-1 .u-icon-12 {
    margin-left: 449px;
  }

  .u-section-1 .u-group-3 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 444px;
    margin-left: 53px;
  }

  .u-section-1 .u-icon-16 {
    margin-left: 449px;
  }

  .u-section-1 .u-icon-17 {
    margin-left: 449px;
  }

  .u-section-1 .u-group-4 {
    width: 540px;
    margin-top: 873px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 444px;
    margin-left: 53px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -325px;
    margin-right: 167px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 71px;
  }

  .u-section-1 .u-group-5 {
    margin-left: 15px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 53px;
  }

  .u-section-1 .u-group-6 {
    margin-left: 15px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 53px;
  }

  .u-section-1 .u-group-7 {
    margin-left: 15px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 53px;
  }

  .u-section-1 .u-group-8 {
    margin-left: 15px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 53px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 362px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 322px;
    margin-left: 21px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
    margin-right: 109px;
  }

  .u-section-1 .u-form-2 {
    margin-left: 107px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 1307px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -1070px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 35px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 244px;
    margin-left: 30px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 254px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 257px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 257px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 257px;
  }

  .u-section-1 .u-icon-5 {
    margin-right: 276px;
    margin-left: 257px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 20px;
  }

  .u-section-1 .u-icon-6 {
    margin-right: 276px;
  }

  .u-section-1 .u-icon-7 {
    margin-right: 276px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 35px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 244px;
    margin-left: 30px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 254px;
  }

  .u-section-1 .u-icon-9 {
    margin-left: 257px;
  }

  .u-section-1 .u-icon-10 {
    margin-left: 257px;
  }

  .u-section-1 .u-icon-11 {
    margin-left: 257px;
  }

  .u-section-1 .u-icon-12 {
    margin-right: 276px;
    margin-left: 257px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 35px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 244px;
    margin-left: 30px;
  }

  .u-section-1 .u-icon-13 {
    margin-left: 254px;
  }

  .u-section-1 .u-icon-14 {
    margin-left: 257px;
  }

  .u-section-1 .u-icon-15 {
    margin-left: 257px;
  }

  .u-section-1 .u-icon-16 {
    margin-left: 257px;
  }

  .u-section-1 .u-icon-17 {
    margin-right: 276px;
    margin-left: 257px;
  }

  .u-section-1 .u-icon-18 {
    margin-right: 276px;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
    margin-top: 681px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 35px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 244px;
    margin-left: 30px;
  }

  .u-section-1 .u-icon-19 {
    margin-left: 254px;
  }

  .u-section-1 .u-icon-20 {
    margin-left: 257px;
  }

  .u-section-1 .u-icon-21 {
    margin-left: 257px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -36px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: 40px;
    margin-right: 45px;
  }

  .u-section-1 .u-group-5 {
    width: 340px;
    margin-top: -100px;
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    margin-left: 35px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 159px;
    margin-left: 30px;
  }

  .u-section-1 .u-btn-10 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 0;
  }

  .u-section-1 .u-group-6 {
    width: 340px;
    margin-top: -32px;
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    margin-left: 35px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 159px;
    margin-left: 30px;
  }

  .u-section-1 .u-btn-12 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-13 {
    margin-right: 0;
  }

  .u-section-1 .u-group-7 {
    width: 340px;
    margin-top: -32px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-7 {
    margin-left: 35px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 162px;
    margin-left: 30px;
  }

  .u-section-1 .u-btn-14 {
    margin-right: 0;
  }

  .u-section-1 .u-group-8 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-8 {
    margin-left: 35px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 127px;
    margin-left: 30px;
  }

  .u-section-1 .u-btn-15 {
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-top: -796px;
    margin-left: 162px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 534px;
    margin-right: 122px;
    margin-left: 13px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    margin-top: -544px;
    margin-right: 0;
  }

  .u-section-1 .u-form-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-19 {
    margin-bottom: 60px;
  }
}"&gt;