.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 566px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 71px 524px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 72px 570px 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: -36px 0 0 570px;
}

.u-section-1 .u-line-1 {
  margin-top: 13px;
  margin-bottom: 0;
  height: 3px;
  transform-origin: left center 0px;
  margin-right: 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 30px 570px 0 20px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: -36px 0 0 570px;
}

.u-section-1 .u-text-6 {
  margin: 20px 962px 0 20px;
}

.u-section-1 .u-group-1 {
  width: 392px;
  min-height: 34px;
  margin: -28px auto 0 99px;
}

.u-section-1 .u-container-layout-1 {
  padding: 2px 30px 0;
}

.u-section-1 .u-text-7 {
  width: 32px;
  font-size: 1rem;
  margin: 2px auto 0;
}

.u-section-1 .u-text-8 {
  margin: 14px 962px 0 20px;
}

.u-section-1 .u-group-2 {
  width: 113px;
  min-height: 34px;
  margin: -28px auto 0 99px;
}

.u-section-1 .u-container-layout-2 {
  padding: 2px 30px 0;
}

.u-section-1 .u-text-9 {
  width: 32px;
  margin: 2px auto 0;
}

.u-section-1 .u-shape-1 {
  width: 141px;
  height: 141px;
  background-image: none;
  margin: -76px auto 0 785px;
}

.u-section-1 .u-text-10 {
  margin: -88px 215px 0 785px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: 47px 929px 0 20px;
}

.u-section-1 .u-text-12 {
  margin: -36px 796px 41px 148px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 237px;
    margin-right: 324px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -61px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 470px;
  }

  .u-section-1 .u-line-1 {
    margin-right: initial;
  }

  .u-section-1 .u-text-4 {
    margin-right: 390px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 197px;
    margin-left: 470px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -153px;
    margin-right: 782px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    min-height: 33px;
    margin-top: 11px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -24px;
    margin-right: 782px;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    margin-top: 146px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -86px;
    margin-right: 15px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 749px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 696px;
    margin-left: 48px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 104px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 350px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 250px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 170px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 250px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 562px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 562px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 579px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 1px;
    margin-left: 579px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 529px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 524px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -47px;
    margin-right: 170px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 70px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 70px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 382px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 382px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 399px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 399px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 349px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 344px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 230px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -80px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: -145px;
    margin-right: 182px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 182px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 199px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -65px;
    margin-left: 199px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 149px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 144px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 394px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 30px 540px 0 30px;
}

.u-section-2 .u-shape-1 {
  width: 34px;
  height: 186px;
  background-image: none;
  margin: 57px auto 0 117px;
}

.u-section-2 .u-shape-2 {
  width: 34px;
  height: 158px;
  background-image: none;
  margin: -158px auto 0 181px;
}

.u-section-2 .u-shape-3 {
  width: 34px;
  height: 115px;
  background-image: none;
  margin: -115px auto 0 53px;
}

.u-section-2 .u-shape-4 {
  width: 34px;
  height: 186px;
  background-image: none;
  margin: -187px auto 0 245px;
}

.u-section-2 .u-shape-5 {
  width: 34px;
  height: 158px;
  background-image: none;
  margin: -157px auto 0 309px;
}

.u-section-2 .u-shape-6 {
  width: 487px;
  height: 228px;
  margin: -228px auto 0 30px;
}

.u-section-2 .u-group-1 {
  width: 570px;
  background-image: none;
  min-height: 274px;
  margin: -274px 0 60px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-btn-1 {
  background-image: linear-gradient(#292d33, #858e99);
  border-style: none;
  margin: 45px auto 0;
}

.u-section-2 .u-btn-2 {
  background-image: linear-gradient(#292d33, #858e99);
  border-style: none;
  margin: 30px 30px 0 auto;
  padding: 9px 66px 11px;
}

.u-section-2 .u-btn-3 {
  background-image: linear-gradient(#292d33, #858e99);
  border-style: none;
  margin: -45px auto 0 30px;
  padding: 9px 35px 11px 34px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: 13px;
    margin-right: 370px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 82px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -242px;
    margin-right: 235px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 23px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 150px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-shape-5 {
    margin-left: 306px;
  }

  .u-section-2 .u-shape-6 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 0;
  }
}