.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 977px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  margin: 84px 23px 0 auto;
  padding: 6px 14px 7px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.5em;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: -67px 419px 0 0;
}

.u-section-1 .u-image-1 {
  height: 448px;
  margin-top: 72px;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 29px 600px 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: -36px 31px 0 570px;
}

.u-section-1 .u-text-4 {
  margin: 18px 419px 0 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: none;
  background-image: linear-gradient(#292d33, #858e99);
  margin: -51px 46px 0 auto;
}

.u-section-1 .u-form-1 {
  height: 154px;
  margin: -86px 178px 36px 663px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
}

.u-section-1 .u-input-1 {
  font-weight: 400;
  background-image: none;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-size: 1rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: normal;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-top: 492px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -236px;
    margin-right: 219px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -283px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 500px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 100px;
    margin-left: 501px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 319px;
    margin-left: 100px;
  }

  .u-section-1 .u-btn-2 {
    width: 101px;
    margin-right: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 299px;
    margin-right: 120px;
    margin-bottom: 60px;
    margin-left: 721px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-top: 442px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -244px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -225px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 390px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 210px;
    margin-left: 391px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 210px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 210px;
    margin-left: 631px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-top: 2406px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -243px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -2174px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 300px;
    margin-left: 301px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 300px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 300px;
    margin-bottom: 0;
    margin-left: 541px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-top: 2226px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -244px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -2035px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 400px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 400px;
    margin-left: 441px;
  }
}