.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 866px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 71px 0 0;
}

.u-section-1 .u-image-1 {
  width: 283px;
  height: 225px;
  margin: 117px auto 0 91px;
}

.u-section-1 .u-text-2 {
  margin: -250px 337px 0 599px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(#292d33, #858e99);
  margin: -37px auto 0 891px;
}

.u-section-1 .u-text-3 {
  margin: 54px 325px 0 599px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(#292d33, #858e99);
  margin: -37px auto 0 891px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(#292d33, #858e99);
  margin: 45px auto 0 891px;
}

.u-section-1 .u-text-4 {
  margin: -37px 337px 0 599px;
}

.u-section-1 .u-text-5 {
  margin: -51px 337px 0 599px;
}

.u-section-1 .u-text-6 {
  margin: -113px 337px 0 599px;
}

.u-section-1 .u-text-7 {
  margin: -113px 337px 0 599px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(#292d33, #858e99);
  margin: 264px auto 0 90px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(#292d33, #858e99);
  margin: -46px auto 0 891px;
}

.u-section-1 .u-text-8 {
  margin: -37px 307px 0 599px;
}

.u-section-1 .u-text-9 {
  margin: -51px 337px 0 599px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(#292d33, #858e99);
  margin: 82px auto 0 891px;
}

.u-section-1 .u-text-10 {
  margin: -37px 307px 0 599px;
}

.u-section-1 .u-text-11 {
  margin: -51px 337px 0 599px;
}

.u-section-1 .u-text-12 {
  margin: 52px 805px 0 130px;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(#72683f, #f5d654);
  margin: 14px auto 60px 99px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 524px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -385px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 237px;
    margin-left: 311px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 841px;
    margin-left: 691px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -384px;
    margin-right: 225px;
    margin-left: 499px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -9px;
    margin-left: 691px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 89px;
    margin-left: 691px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 237px;
    margin-left: 499px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -48px;
    margin-right: 237px;
    margin-left: 499px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -291px;
    margin-right: 237px;
    margin-left: 499px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 237px;
    margin-left: 499px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 632px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -413px;
    margin-left: 691px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 49px;
    margin-right: 207px;
    margin-left: 499px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -137px;
    margin-right: 237px;
    margin-left: 499px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 691px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 144px;
    margin-right: 207px;
    margin-left: 499px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -233px;
    margin-right: 237px;
    margin-left: 499px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -255px;
    margin-right: 705px;
    margin-left: 311px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 78px;
    margin-bottom: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: -464px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 127px;
    margin-left: 238px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 471px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 115px;
    margin-left: 389px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 471px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 471px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 127px;
    margin-left: 389px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 127px;
    margin-left: 389px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 127px;
    margin-left: 389px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 127px;
    margin-left: 389px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 471px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 97px;
    margin-left: 389px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 127px;
    margin-left: 389px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 471px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 97px;
    margin-left: 389px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 127px;
    margin-left: 389px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 515px;
    margin-left: 238px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 324px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -237px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 37px;
    margin-left: 179px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 640px;
    margin-left: 291px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 25px;
    margin-left: 299px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 291px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 291px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 37px;
    margin-left: 299px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 37px;
    margin-left: 299px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 37px;
    margin-left: 299px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 37px;
    margin-left: 299px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -356px;
    margin-left: 291px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -7px;
    margin-right: 7px;
    margin-left: 299px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 37px;
    margin-left: 299px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 291px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 7px;
    margin-left: 299px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 37px;
    margin-left: 299px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -54px;
    margin-right: 335px;
    margin-left: 179px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 151px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -38px;
    margin-left: 57px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 113px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 467px;
    margin-left: 91px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 124px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 91px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 91px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 136px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 136px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -304px;
    margin-right: 0;
    margin-left: 136px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 136px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 645px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -425px;
    margin-left: 91px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 49px;
    margin-right: 0;
    margin-left: 106px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 136px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 91px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 106px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 136px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 132px;
    margin-right: 135px;
    margin-left: 113px;
  }

  .u-section-1 .u-btn-7 {
    margin-bottom: 16px;
  }
}