.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1024px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 71px 430px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 71px 299px 0;
}

.u-section-1 .u-table-1 {
  margin-top: 40px;
  margin-bottom: 60px;
  height: 641px;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  background-image: none;
}

.u-section-1 .u-table-cell-2 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-3 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-4 {
  font-weight: 700;
  font-size: 1.25rem;
  background-image: none;
}

.u-section-1 .u-table-cell-5 {
  font-size: 1.25rem;
  font-weight: 400;
  background-image: none;
}

.u-section-1 .u-table-cell-6 {
  font-size: 1.25rem;
  font-weight: 400;
  background-image: none;
}

.u-section-1 .u-table-cell-7 {
  font-weight: 700;
  font-size: 1.25rem;
  background-image: none;
}

.u-section-1 .u-table-cell-8 {
  font-size: 1.25rem;
  background-image: none;
}

.u-section-1 .u-icon-1 {
  font-size: 2.2em;
  background-image: none;
}

.u-section-1 .u-table-cell-9 {
  font-size: 1.25rem;
  background-image: none;
}

.u-section-1 .u-icon-2 {
  font-size: 2.2em;
  background-image: none;
}

.u-section-1 .u-table-cell-10 {
  font-weight: 700;
  font-size: 1.25rem;
  background-image: none;
}

.u-section-1 .u-table-cell-11 {
  font-size: 1.25rem;
  background-image: none;
}

.u-section-1 .u-icon-3 {
  font-size: 2.2em;
  background-image: none;
}

.u-section-1 .u-table-cell-12 {
  font-size: 1.25rem;
  background-image: none;
}

.u-section-1 .u-icon-4 {
  font-size: 2.2em;
}

.u-section-1 .u-table-cell-13 {
  font-weight: 700;
  font-size: 1.25rem;
  background-image: none;
}

.u-section-1 .u-table-cell-14 {
  font-size: 1.25rem;
  background-image: none;
}

.u-section-1 .u-table-cell-15 {
  font-size: 1.25rem;
  background-image: none;
}

.u-section-1 .u-table-cell-16 {
  font-weight: 700;
  font-size: 1.25rem;
  background-image: none;
}

.u-section-1 .u-table-cell-17 {
  font-size: 2.25rem;
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-18 {
  font-size: 2.25rem;
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-19 {
  font-weight: 400;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(#72683f, #f5d654);
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 23px 42px 23px 41px;
}

.u-block-dc9b-35 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 710px;
    margin-right: 230px;
  }

  .u-section-1 .u-text-2 {
    width: 543px;
    margin-left: 199px;
    margin-right: 199px;
  }

  .u-section-1 .u-table-1 {
    margin-bottom: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 89px;
    margin-right: 89px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-table-cell-5 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-table-cell-6 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-table-cell-5 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-table-cell-6 {
    font-size: 1.25rem;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 982px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 71px 430px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: linear-gradient(#72683f, #f5d654);
  border-style: solid;
  font-weight: 700;
  font-size: 1.25rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 102px auto 0 898px;
  padding: 22px 37px 23px 36px;
}

.u-section-2 .u-icon-1 {
  font-size: 0.7em;
}

.u-section-2 .u-text-2 {
  margin: -59px 382px 0 48px;
}

.u-section-2 .u-list-1 {
  min-height: 139px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-template-rows: auto;
  grid-gap: 10px 10px;
  width: 360px;
  margin: -89px auto 0 457px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 202px;
  height: 79px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 202px;
  height: 79px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 149px 382px 0 48px;
}

.u-section-2 .u-list-2 {
  min-height: 139px;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-gap: 10px 10px;
  width: 175px;
  margin: -89px auto 0 601px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  width: 202px;
  height: 79px;
  margin: 0 -44px;
}

.u-section-2 .u-btn-2 {
  background-image: linear-gradient(#72683f, #f5d654);
  border-style: solid;
  font-weight: 700;
  font-size: 1.25rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: -109px auto 0 898px;
  padding: 22px 37px 23px 36px;
}

.u-section-2 .u-icon-2 {
  font-size: 0.7em;
}

.u-section-2 .u-list-3 {
  min-height: 155px;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-gap: 10px 10px;
  width: 175px;
  margin: 126px auto 0 601px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  width: 226px;
  height: 109px;
  margin: -7px -55px;
}

.u-section-2 .u-text-4 {
  margin: -97px 382px 0 48px;
}

.u-section-2 .u-btn-3 {
  background-image: linear-gradient(#72683f, #f5d654);
  border-style: solid;
  font-weight: 700;
  font-size: 1.25rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: -59px auto 60px 898px;
  padding: 22px 37px 23px 36px;
}

.u-section-2 .u-icon-3 {
  font-size: 0.7em;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 887px;
  }

  .u-section-2 .u-text-1 {
    width: 710px;
    margin-top: -45px;
    margin-right: 230px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 698px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 72px;
    margin-right: 230px;
    margin-left: 0;
  }

  .u-section-2 .u-list-1 {
    min-height: 44px;
    height: auto;
  }

  .u-section-2 .u-text-3 {
    margin-right: 230px;
    margin-left: 0;
  }

  .u-section-2 .u-list-2 {
    height: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 10px;
    margin-left: 698px;
  }

  .u-section-2 .u-list-3 {
    height: auto;
    margin-top: -116px;
    margin-right: 230px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 146px;
    margin-right: 230px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 698px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: 71px;
    margin-right: 10px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 478px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -59px;
    margin-right: 10px;
  }

  .u-section-2 .u-list-1 {
    grid-template-columns: 100%;
    margin-left: 360px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 10px;
  }

  .u-section-2 .u-list-2 {
    margin-left: 545px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -109px;
    margin-left: 478px;
  }

  .u-section-2 .u-list-3 {
    margin-top: 126px;
    margin-right: 10px;
    margin-left: 545px;
  }

  .u-section-2 .u-image-4 {
    width: 115px;
    height: 55px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: -97px;
    margin-right: 10px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 478px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 298px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    margin-left: 180px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-list-2 {
    margin-left: 365px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 298px;
  }

  .u-section-2 .u-list-3 {
    margin-right: 0;
    margin-left: 365px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 298px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 98px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-list-2 {
    margin-left: 165px;
  }

  .u-section-2 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 98px;
  }

  .u-section-2 .u-list-3 {
    margin-left: 165px;
  }

  .u-section-2 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 98px;
  }
}